<mat-card>
    <mat-list id="resultat">
        <mat-list-item id="city">Ville : {{name_data}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="temps">Temps : {{type_data}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="temperature">Température : {{temp_data}} °C</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="pression">Pression : {{press_data}} Hpa</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="wind_speed">Puissance du vent : {{wind_speed_data}} km/h</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="wind_direction">Direction du vent : {{wind_deg_data}} °</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="sunrise">Heure de levé du soleil (Heure CET) : {{sunrise_data}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="sunset">Heure de couché du soleil (Heure CET) : {{sunset_data}}</mat-list-item>
    </mat-list>
</mat-card>
